# Maven build output
/target/
!.mvn/wrapper/maven-wrapper.jar

# OS files
.DS_Store
Thumbs.db

# STS (Spring Tool Suite)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle (just in case)
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Help files
HELP.md
